MYSQL_DATABASE=deallock
MYSQL_USER=deallock
MYSQL_PASSWORD=deallock_pass
MYSQL_ROOT_PASSWORD=root_pass

SMTP_USER=you@gmail.com
SMTP_PASS=app_password_here

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

APP_BASE_URL=http://your-domain.com
APP_ADMIN_PHONES=
